/* Customize the navigation bar */
.navbar-brand {
    font-weight: bold;
  }
  .navbar-nav .nav-item {
    margin-right: 10px;
  }
  
  /* Customize the header */
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  /* Customize the image */
  .img-fluid {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  